<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/p1_p3_styles.css" />
    <title>Paso 1 - Planeación</title>
  </head>
  <body>
    <div class="contenedor">
      <p class="titulo">Actividades de aprendizaje</p>
      <div class="informacion">
        <i class="icono-uno"></i>
      </div>
      <div class="catalogo">
        <div class="buscador">
          <i class="icono-dos"></i>
          <input type="text" placeholder="Buscar..." id="buscador" />
        </div>
        <div class="lista">
          <button class="opcion">Trabajo en equipo</button>
          <button class="opcion">Diagrama de flujo</button>
          <button class="opcion">Ver videos</button>
          <button class="opcion">Matriz de inducción</button>
          <button class="opcion">Diagrama radia</button>
          <button class="opcion">Exposición</button>
          <button class="opcion">Investigación</button>
          <button class="opcion">Mapa mental</button>
        </div>
      </div>
      <div class="tablero" id="tablero-elementos"></div>
    </div>
    <!--Script para el funcionamiento de la página-->
    <script type="text/JavaScript" src="../js/p1_p3.js"></script>
  </body>
</html>
