<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/apy_didacticos.css" />
    <title>ITCH Docente - Planeación del curso (Paso 6)</title>
  </head>
  <body>
    <!--Titulo-->
    <header class="titulo-4">
      <h1>APOYOS DIDACTICOS</h1>
    </header>
    <!--Tabla-->
    <main>
      <!--Tabla de apoyos-->
      <section class="t-centrar">
        <section class="flex">
          <section class="tema">
            <p class="texto">Introducción al lenguaje esanmblador</p>
          </section>
          <section class="flex width-70 lienzo lista-destino align-left"></section>
        </section>
        <section class="flex">
          <section class="tema">
            <p class="texto">Programación básica</p>
          </section>
          <section class="flex width-70 lienzo lista-destino align-left"></section>
        </section>
        <section class="flex">
          <section class="tema">
            <p class="texto">Modularización</p>
          </section>
          <section class="flex width-70 lienzo lista-destino align-left"></section>
        </section>
        <section class="flex">
          <section class="tema">
            <p class="texto">Programación de dispositivos</p>
          </section>
          <section class="flex width-70 lienzo lista-destino align-left"></section>
        </section>

        <!--Repositorio de iconos-->
      <section class="t-centrar repo flex">
        <section id="lista" class="flex width-90 align-left lienzo">
          <section
            id="element-1"
            class="box flex icon-pc elemento"
            draggable="true"
          ></section>
          <section
            id="element-2"
            class="box icon-proyector elemento"
            draggable="true"
          ></section>
          <section
            id="element-3"
            class="box icon-marcador elemento"
            draggable="true"
          ></section>
          <section
            id="element-4"
            class="box icon-borrador elemento"
            draggable="true"
          ></section>
        </section>
        <button class="width-10 btn-icons">
          <i class="icon-add btn-icons"></i>
        </button>
      </section>
      </section>
      
    </main>
    <!--Scripts-->
    <script type="text/JavaScript" src="/js/dragdropCopy.js"></script>
  </body>
</html>
