<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/general.css" />
    <link rel="stylesheet" href="/styles/cal_temas.css" />
    <title>ITCH Docente - Planeación del curso (Paso 7)</title>
  </head>
  <body>
    <!--Titulo-->
    <header class="titulo-4 grid-header">
      <h1 class="titulo-header">CALENDARIZACIÓN DE TEMAS</h1>
      <select class="selector texto" name="" id="">
        <option>ISC A</option>
        <option>ISC B</option>
        <option>ISC C</option>
      </select>
    </header>
    <!--Tabla-->
    <main>
      <section id="lista" class="t-centrar">
        <!--1re elemento-->
        <section draggable="true" class="flex margin-10 box">
          <section class="flex tema">
            <i class="icono-tema">temas</i>
            <div class="texto">Introducción al lenguaje esanmblador</div>
          </section>
          <section class="width-50">
            <section class="flex">
              <input
                class="range-1 range-1-1 hi"
                type="range"
                value="12"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-1-1" type="number" value="12" readonly />
              <p class="texto-falso">H.I.</p>
            </section>
            <section class="flex">
              <input
                class="range-1 range-1-2 hp"
                type="range"
                value="2"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-1-2" type="number" value="2" readonly />
              <p class="texto-falso">H.P.</p>
            </section>
            <section class="flex">
              <input
                class="range-1 range-1-3 ht"
                type="range"
                value="10"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-1-3" type="number" value="10" readonly />
              <p class="texto-falso">H.T.</p>
            </section>
          </section>
          <span class="datepicker-toggle">
            <span class="datepicker-toggle-button"></span>
            <input type="date" class="datepicker-input" />
          </span>
          <!--2do elemento-->
        </section>
        <section draggable="true" class="flex margin-10 box">
          <section class="flex tema">
            <i class="icono-tema">temas</i>
            <div class="texto">Programación básica</div>
          </section>
          <section class="width-50">
            <section class="flex">
              <input
                class="range-2 range-2-1 hi"
                type="range"
                value="12"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-2-1" type="number" value="12" readonly />
              <p class="texto-falso">H.I.</p>
            </section>
            <section class="flex">
              <input
                class="range-2 range-2-2 hp"
                type="range"
                value="2"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-2-2" type="number" value="2" readonly />
              <p class="texto-falso">H.P.</p>
            </section>
            <section class="flex">
              <input
                class="range-2 range-2-3 ht"
                type="range"
                value="10"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-2-3" type="number" value="10" readonly />
              <p class="texto-falso">H.T.</p>
            </section>
          </section>
          <span class="datepicker-toggle">
            <span class="datepicker-toggle-button"></span>
            <input type="date" class="datepicker-input" />
          </span>
          <!--3re elemento-->
        </section>
        <section draggable="true" class="flex margin-10 box">
          <section class="flex tema">
            <i class="icono-tema">temas</i>
            <div class="texto">Modularización</div>
          </section>
          <section class="width-50">
            <section class="flex">
              <input
                class="range-3 range-3-1 hi"
                type="range"
                value="12"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-3-1" type="number" value="12" readonly />
              <p class="texto-falso">H.I.</p>
            </section>
            <section class="flex">
              <input
                class="range-3 range-3-2 hp"
                type="range"
                value="2"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-3-2" type="number" value="2" readonly />
              <p class="texto-falso">H.P.</p>
            </section>
            <section class="flex">
              <input
                class="range-3 range-3-3 ht"
                type="range"
                value="10"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-3-3" type="number" value="10" readonly />
              <p class="texto-falso">H.T.</p>
            </section>
          </section>
          <span class="datepicker-toggle">
            <span class="datepicker-toggle-button"></span>
            <input type="date" class="datepicker-input" />
          </span>
          <!--4to elemento-->
        </section>
        <section draggable="true" class="flex margin-10 box">
          <section class="flex tema">
            <i class="icono-tema">temas</i>
            <div class="texto">Programación de dispositivos</div>
          </section>
          <section class="width-50">
            <section class="flex">
              <input
                class="range-4 range-4-1 hi"
                type="range"
                value="12"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-4-1" type="number" value="12" readonly />
              <p class="texto-falso">H.I.</p>
            </section>
            <section class="flex">
              <input
                class="range-4 range-4-2 hp"
                type="range"
                value="2"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-4-2" type="number" value="2" readonly />
              <p class="texto-falso">H.P.</p>
            </section>
            <section class="flex">
              <input
                class="range-4 range-4-3 ht"
                type="range"
                value="10"
                min="0"
                max="48"
                step="1"
                name=""
                id=""
              />
              <input class="range-4-3" type="number" value="10" readonly />
              <p class="texto-falso">H.T.</p>
            </section>
          </section>
          <span class="datepicker-toggle">
            <span class="datepicker-toggle-button"></span>
            <input type="date" class="datepicker-input" />
          </span>
        </section>
      </section>
    </main>
    <!--Scripts-->
    <script type="text/JavaScript" src="/js/ranges_value.js"></script>
    <script type="text/JavaScript" src="/js/dragdropMove.js"></script>
  </body>
</html>
