<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/ind_alcance_styles.css" />
    <title>Paso 4 - Planeación</title>
  </head>
  <body>
    <div class="contenedor">
      <p class="titulo">Indicadores de alcance</p>
      <i class="icono"></i>
      <div class="area-indicadores">
        <div class="contenedor-pestañas">
          <p class="pestaña">Introducción al lenguaje ensamblador</p>
          <p class="pestaña">Programación básica</p>
          <p class="pestaña">Modularización</p>
          <p class="pestaña">Programación de dispositivos</p>
        </div>
        <div class="contenedor-contenido">
          <div class="contenido"></div>
          <div class="contenido"></div>
          <div class="contenido"></div>
          <div class="contenido"></div>
        </div>
      </div>
    </div>
    <!--Script para el funcionamiento de la página-->
    <script type="text/JavaScript" src="../js/p4.js"></script>
  </body>
</html>
